<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">
    <a routerLink="/">Recipe Book</a>
  </span>

  <ul class="nav nav-pills mr-auto">
    <li class="nav-item">
      <a class="nav-link"
         [routerLink]="['/recipes']"
         routerLinkActive="active">Recipes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         [routerLink]="['/shopping-list']"
         routerLinkActive="active">Shopping List</a>
    </li>
  </ul>
  <ul class="nav justify-content-end">
    <ng-template [ngIf]="!(authState | async).authenticated">
      <li class="nav-item">
        <a class="nav-link"
           routerLink="/signup">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           routerLink="/signin">Login</a>
      </li>
    </ng-template>
    <ng-template [ngIf]="(authState | async).authenticated">
      <li class="nav-item">
        <a class="nav-link"
           style="cursor: pointer"
           (click)="onLogout()">Logout</a>
      </li>
      <li class="nav-item dropdown"
          appDropdown>
        <a class="nav-link dropdown-toggle"
           role="button">Manage <span class="caret"></span></a>
        <div class="dropdown-menu">
          <a class="dropdown-item"
             (click)="onSaveData()">Save Data</a>
          <a class="dropdown-item"
             (click)="onFetchData()">Fetch Data</a>
        </div>
      </li>
    </ng-template>
  </ul>
</nav>
